/BasicGame/build/
/BasicGame/dist/
/GravityBasedPhysics/dist/
/GravityBasedPhysics/build/
/BasicGame/nbproject/private/
/BasicGame/mobile/gen/
/BasicGame/mobile/bin/
/Projectiles/nbproject/private/
/Projectiles/build/
/Game/nbproject/private/
/GravityBasedPhysics/mobile/gen/
/GravityBasedPhysics/mobile/bin/
/SpaceMania/nbproject/private/
/SpaceMania/mobile/bin/
/SpaceMania/mobile/gen/
/SpaceMania/build/
/SpaceMania/dist/