/BasicGame/build/
/BasicGame/dist/
/GravityBasedPhysics/dist/
/GravityBasedPhysics/build/
/BasicGame/nbproject/private/
/BasicGame/mobile/gen/
/BasicGame/mobile/bin/
/Projectiles/nbproject/private/
/Projectiles/build/